body {
  background-image: linear-gradient(to bottom right, red, yellow); 
}
figure {
  width: 20%;
  margin-left: 2%;
  display: inline-block;
  margin-bottom: 20px;
  vertical-align: top;
  padding: 10px;
  box-sizing: border-box;
  background: #fff;
  border-radius: 7px;
  position: relative;
}

figcaption {
  width: 300px;
  padding: 10px;
  height: 150px;
  border-radius: 4px;
  background: rgba(0, 0, 20, 0.7);
  color: #fff;
  z-index: 5;
  position: absolute;
}

.caption-visible {
  display: inline-block;
}

.caption-hidden {
  display: none;
}

h1 {
  -webkit-text-stroke-width: 0.75px;
  -webkit-text-stroke-color: red;
}

img {
  width: 100%;
}